html, body {
    padding: 0;
    margin: 0;
    
}

.problems-page {
    min-height: 100vh; /* ensures it covers the whole viewport height */
    background: rgb(177,238,174);
    background: radial-gradient(circle, rgba(177,238,174,1) 0%, rgba(232,238,244,1) 100%);
}


.problems-container {
    width: 80%;
    margin: 0 auto;
    background: rgb(177,238,174);
    background: radial-gradient(circle, rgba(177,238,174,1) 0%, rgba(232,238,244,1) 100%);
}

.problem {
    padding-bottom: 5rem;
}

.header-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
}

.header-section h2 {
    font-size: 3.5rem;
    background: linear-gradient(to bottom, #111111, #aaaaaa, #111111);
    -webkit-background-clip: text;
    color: transparent;
    text-shadow: 1px 1px 2px #888888;
    padding: 5px 0;
    margin: 0;
    margin-top: 3rem;
}

.header-section p {
    margin-bottom: 4rem;
    font-size: 1.25rem;
    text-align: center;
}

.search-section {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    padding-top: 1.5rem;
    padding-bottom: 1rem;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    gap: 1.95rem;
}

.start-recording-button {
    margin-top: 4rem;
}

.search-section-problems {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    padding-top: 1.5rem;
    padding-bottom: 1rem;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    gap: 1.95rem;
}

.random-select {
    display: flex;
    align-items: center;
    gap: .5rem;
    cursor: pointer;
    color: green;
}
.random-select:hover {
    color: rgb(119, 207, 119);
}

.problem-list-container {
    width: 100%;
}

.question-link {
    text-decoration: none;
    color: inherit;
    font-size: 1rem;
}

.question-link:hover{
    color: green;
}

.difficulty-rating {
    text-align: center;    
    font-size: 1.5rem;
}

td.difficulty-easy {
    color: green;
}

td.difficulty-medium {
    color: rgb(255 192 30)
}

td.difficulty-hard {
    color: red;
}

.MuiTableRow-root:nth-child(even) {
    background-color: #F7F7F7;  
}

.MuiTableRow-root:nth-child(odd) {
    background-color: #EAEAEA;  
}



.submit-icon {
    cursor: pointer;
    color: green;
}
